:root{
    --app-color-dark: #1B2040;
    --app-color-light: #F2F2F2;
    --app-color-text: #0F1026;
    --app-color-blue: #4973F2;
    --app-color-orange: #F2911B;
    --app-icons-1-hex: #643DF2;
    --app-icons-2-hex: #D5E5F2;
    --app-icons-3-hex: #1BF2A3;
    --app-icons-4-hex: #F29422;
    --app-icons-5-hex: #F25252;
}

html{
    scroll-behavior: smooth;
}

.text-blue {
    color: var(--app-color-blue)
}

.text-orange {
    color: var(--app-color-orange)
}

.border-blue{
    border-style: solid;
    border-color: var(--app-color-blue)!important;
}

.border-edge-1{
    border-width: 0.1rem!important;
}

.border-edge-2{
    border-width: 0.2rem!important;
}
